<ng-template {{content}} let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">
        Are you sure about delete this item: "{{ itemToBeDeleted }}" ??
      </h5>
    </div>
  
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="modal.close(true)"
      >
        Yes
      </button>
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="modal.close(false)"
      >
        No
      </button>
    </div>
  </ng-template>
  
<!-- <button type="button" (click)="enviarEvento()">Trigger</button> -->