<app-create-to-form-button [action-name]="'department/new'" ></app-create-to-form-button>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments$ | async">
        <td class="text-center">{{ department.name }}</td>
        <td>
          <div role="group">
            <button
              type="button"
              class="btn btn-outline-primary border-0"
              [routerLink]="[department.id, 'edit']"
            >
            <i class="fa fa-pencil fa-2" aria-hidden="true"> </i>
            </button>
            <button
              type="button"
              class="btn btn-outline-danger border-0"
              (click)="open(content, department)"
            >
              X
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      Are you sure about delete this item: "{{ itemToBeDeleted }}" ??
    </h5>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modal.close(true)"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close(false)"
    >
      No
    </button>
  </div>
</ng-template>
