<!-- TODO: ADD FONT ICON INSTEAD OF SVG -->

<div class="row d-flex justify-content-end" style="height: 10vh">
  <button type="button" class="btn btn-outline-success m-4" routerLink="new">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-person-add"
      viewBox="0 0 16 16"
    >
      <path
        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
      />
      <path
        d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
      />
    </svg>
  </button>
</div>

<div class="form-group form-inline d-flex justify-content-center">
  <input
    class="form-control w-75"
    type="text"
    name="searchTerm"
    [(ngModel)]="search"
  />
  <button class="btn btn-primary" (click)="refreshEmployee()">Search</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of $employee">
      <th scope="row">{{ employee.id }}</th>
      <td>{{ employee.firstName }} {{ employee.lastName }}</td>
      <td>
        {{ employee.department?.name }}
      </td>
      <td>
        <div role="group">
          <button
            type="button"
            class="btn btn-outline-primary border-0"
            [routerLink]="[employee.id, 'edit']"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"
              />
            </svg>
          </button>
          <button
            type="button"
            class="btn btn-outline-danger border-0"
            (click)="open(content, employee)"
          >
            X
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="totalPage"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="nextPage()"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto"
    name="pageSize"
    (change)="itemPerPage()"
    [(ngModel)]="pageSize"
  >
    <option [ngValue]="3">3 items per page</option>
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="7">7 items per page</option>
  </select>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      Are you sure about delete this employee "{{ itemToBeDeleted }}" ??
    </h5>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modal.close(true)"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close(false)"
    >
      No
    </button>
  </div>
</ng-template>
