<!-- 
  TODO: must extract ir for a resuable compontent 
-->
<div class="row d-flex justify-content-end" style="height: 10vh">
  <button type="button" class="btn btn-outline-success m-4" routerLink="new">
    Create
  </button>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Manager Mame</th>
        <th scope="col" class="text-center">Details</th>
        <th scope="col" class="text-center"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects$">
        <td>{{ project.name }}</td>
        <td>{{ project.managerName }}</td>
        <td class="text-center">{{ project.details }}</td>
        <td>
          <div role="group">
            <button
              type="button"
              class="btn btn-outline-primary border-0"
              [routerLink]="[project.id, 'edit']"
            >
              <i class="fa fa-pencil fa-2" aria-hidden="true"> </i>
            </button>
            <button
              type="button"
              class="btn btn-outline-danger border-0"
              (click)="open(content, project)"
            >
              X
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshProjects()"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      Are you sure about delete this item: "{{ itemToBeDeleted }}" ??
    </h5>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="modal.close(true)"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-outline-danger"
      (click)="modal.close(false)"
    >
      No
    </button>
  </div>
</ng-template>
