<div class="row d-flex justify-content-start" style="height: 10vh">
  <button type="button" class="btn btn-outline-dark m-4" routerLink="">
    back
  </button>
</div>


<div class="mt-5">
  <form [formGroup]="form" class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
    </div>

    <div class="col-md-6">
      <label for="managerName" class="form-label">Manager Name</label>
      <input
        type="text"
        class="form-control"
        id="managerName"
        formControlName="managerName"
      />
    </div>
    <div class="col-md-12">
      <label for="details" class="form-label">Details</label>
      <textarea
        class="form-control"
        aria-label="With textarea"
        id="details"
        formControlName="details"
      >
      </textarea>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-end p-1">
        <button type="submit" (click)="onSave()" class="w-50 btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
