<div class="row d-flex justify-content-start" style="height: 10vh">
  <button type="button" class="btn btn-outline-dark m-4" (click)="previewsPage()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>

<div class="mt-5">
  <form [formGroup]="form" class="row g-3">
    <div class="col-md-6" >
      <label for="name" class="form-label pt-2">Name</label>
      <input
        type="text"
        class="form-control w-75"
        id="name"
        placeholder="type a new department name ..."
        formControlName="name"
      />
      <app-error-validator [form-control]="form.get('name')"></app-error-validator>

      <button type="submit" (click)="onSave()" class="w-75 btn btn-primary">
        Save
      </button>
    </div>
  </form>
</div>
